.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: pink;
  font-family: arial;
  font-size: 12px;
  color: #9e365b;
}

.left-nav, .right-nav > h1 {
  margin: 10px;
}

.left-nav {
  display: flex;
}

.right-nav {
  display: flex;
}

.main-content {
  font-family: arial;
  color: #9e365b;
}

.header-content {
  text-align: center;
}


.middle-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-content > p {
  border: 2px solid grey;
  margin: 10px;
  padding: 5px;
}

.cat-imgs-container {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  /*flex-flow: row wrap;*/
  width: 100%;
}

.mySlides {
  display: none;
  margin: 12px;
}

.w3-left, .w3-right, .w3-badge {
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .middle-content {
    background: lightblue;
    flex-direction: column;
  }
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.color {
  animation: spin 5s infinite linear;
  /*top: 30px;*/
  position: relative;
}

.box {
  animation: change-background 4s infinite linear;
  /*animation: mymove 5s linear infinite;*/
  background: blue;
  /*position: absolute;
  left: 20em;
  top: 6em;*/
  /*height: 3em;
  width: 3em;*/
  /*animation: scale 4s infinite linear;*/
  /*top: 50%;
  left: 25%;*/
  width: 500px;
  height: 500px;
  margin:0;
}

@keyframes change-background {
  0% {background: orange}
  100% {background: green}
}
/*@keyframes mymove {
  0% {top: 0px;}
  100% {top: 200px;}
}*/

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

/*@keyframes scale {
    100% {
         transform: scaleX(2) scaleY(2);
    }
}*/

.box2 {
  border: 1px solid #CCC;
  height: 360px;
  width: 360px;
  position: relative;
  float: left;
  overflow: hidden;
  width: 720px;
}
#anim-four {
  text-align: center;
  animation: heartbeat .5s cubic-bezier(0.245, 0.325, 0.510, 1.305) infinite alternate;
  font-size: 160px;
  margin-top: 60px;
  /*color: darken(#FB7E6E, 30%);*/
  color: pink;
}

@keyframes heartbeat {
  to {transform: scale(1.2)}
}

#anim-one {
  text-align: center;
  padding-top: 100px;
  font-size: 0;
  font-weight: 700;
  color: #00CED2;
  animation: bounce-text 2s infinite cubic-bezier(0.245, 0.325, 0.670, 1.510);
}

@keyframes bounce-text {
  60% {font-size: 60px}
  100% {font-size: 60px}
}
